body {
    background-color: skyblue;
}

.card {
    margin-top: 50px;
    widows: 1500px;
    height: 700px;
    background-color: white;
    color: violet;
}
.Homeimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 1000px;
    background: rgba(red, green, blue, alpha);
}
.Homeimg {
    background: url("assets/wallpaper-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height:700px;
}
.matter {
    margin-top: 200px;
    text-align:center;
}
.navbar {
    background-color: palevioletred;
    color: whitesmoke;
}

.fitnessappointment{
    margin-top: 100px;
    
} 
